@charset "utf-8";

.formContainer { min-width: 300px; height: auto; max-height:90%; overflow-y: auto; }
.register_form { padding: 10px;}


.form_input { border: 1px solid #ddd; padding:7px 8px;}
.form_select { border: 1px solid #ddd; padding:3px 8px;}



.register_form label { font-size: 1em; font-weight:600; color: #999;}
.register_form select { border: 1px solid #bbb; }
.register_form p { font-size: 0.78em; line-height: 14px; margin: 0; }

.register_form .bcont{text-align:center; margin:15px 0;}

.input01 { width: 40%; }
.input_100 { width: 100%; }
.input_call { width: 27%; }


.form_1 { height: auto; padding: 10px; }
.form_1 table { width:100%; margin: 10px 0; border-collapse: collapse;}
.form_1 table tr th { width: 20%; text-align: left; background: #eee; padding: 0 10px; border-right: 1px solid #ddd; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.form_1 table tr td { padding: 6px 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.form_2 { max-height: 70vh; padding: 10px; overflow-y: auto; }
.form_2 table { width:100%; margin: 10px 0; border-collapse: collapse; border-top: 2px solid #ff5b5b; border-bottom: 2px solid #888; font-size: 1em; background: #f8f8f8;}
.form_2 table tr th { word-break: break-all; white-space: nowrap; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; padding: 10px; }
.form_2 table tr td { border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; padding: 6px 10px; word-break: break-all; white-space: inherit;}
.form_2 table tbody tr:nth-child(1n) { background: #fff; }
.form_2 table tbody tr:nth-child(2n) { background: #eee; }
.form_2 input { border: 1px solid #ddd; padding: 5px 7px; margin: 3px 4px; } 

.select01 { width: 40%; zoom: 1.1; padding: 5px; }
.select_call { width: 100%; padding: 5px; color:#666; -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box; }

option{padding:5px 6px;}



.back {background: #ddd; width: 100px; height: 40px; border: 0; cursor: pointer;}
.back:hover { background: #bbb; }
.blue_btn {background: rgb(39, 73, 146); color: #fff; width: 100px; height: 40px; border: 0; cursor: pointer;}
.blue_btn:hover {background: rgb(38, 62, 114);}

.blue_btnx {background: rgb(39, 73, 146); color: #fff; width: 100px; height: 32px; border: 0; cursor: pointer;}
.blue_btnx:hover {background: rgb(38, 62, 114);}




.mcont_bd{/*margin-top:50px;*/ width: 220px;}

#smart_container .menu_Content .mcont_hd { font-size: 1.5em; font-weight: 600; width: 220px; }
#menuContent{}
#menuContent .menu01_li {border-bottom:1px solid #666;}
#menuContent i { width: 50px; text-align: center; }
#menuContent .menu01_li .menu_a{display:block; padding:15px 0; color:#fff; min-width:200px; font-size:1.2em; text-align:left;}
#menuContent .menu01_li .menu_a:hover { background: rgb(65, 67, 80); color: #fff; border-left: 3px solid #ff5b5b; transition: .3s; }
#menuContent .menu01_li .menu_a.on { background: rgb(65, 67, 80); color: #fff; border-left: 3px solid #ff5b5b; }
.menu_Content .scroll { height: 100%; overflow-y: auto; overflow-x: hidden; }
.menu_Content .menu02 { background:#fff; display: none; }
.menu_Content .menu02.menu50 {position: absolute; left:50px;
box-shadow: 1px 1px 4px #aaa;
-moz-box-shadow: 1px 1px 4px #aaa;
-webkit-box-shadow: 1px 1px 4px #aaa;
}
.menu_Content .menu02 li { }
.menu_Content .menu02 li a { display:block; padding:7px 20px; color:#444; min-width:200px; font-size:1.2em; text-align:left; border-right: 3px solid transparent; border-bottom:1px solid #ccc; }
.menu_Content .menu02 li a:hover{ background:#fff; color: #444; transition: .2s;}
.menu_Content .menu02 li a.on { background:#f9f9f9; color: #ff5b5b; font-weight: 600; transition: .2s;}
.menu_Content .menu02 li a.on:after{content:">"; float:right; line-height:15px; margin-right:-5px;}


.limitset{float:right;}
.limitset select{padding:3px 10px; border:1px solid #ddd;}
.mlink{cursor:pointer; color:#237bff;}


.pagination {
  /* display: block; */
  /* padding-left: 0; */
  /* margin: 20px auto; */
  /* border-radius: 4px; */
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}









/* for custom scrollbar for webkit browser*/
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar { width: 6px;height:6px; } 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}




.body_cont_float2 .btn_right{border:none;}
.register_form_5 { padding: 25px; max-height:700px; overflow-y:auto;}
.form_input5 {padding:7px 8px;}
.input_5{width:350px;  font-size:20px; border:none; margin:7px; height:35px;}

.form_5 table tr th { text-align: left; background: #3b4d73; color:#fff; padding: 0 10px; font-size:16px; width:180px}
.form_5 table tr td { background: #eee;}

span.btni_5{margin-top:20px; padding:10px 16px; background:rgb(39, 73, 146); color:#fff; font-size:24px; /*border:1px solid #ddd;*/ cursor:pointer;
position: relative; right:calc(50% - 40px);
}
#pop_container .info_content h2.tableth2 {
  font-size: 32px;
  padding: 10px 15px;
  background-color: rgb(68, 104, 180);
  color: #fff;
  text-align: center;
  line-height:40px;
}
#pop_container .info_content span.close {
  float: right;
  cursor: pointer;
  color: #fff;
  opacity: unset;
}